spring:
  application:
    name: LAA Data Stewardship Payments - Claims Data Application
# Default connection details for local dev, overridden in other envs
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/laa_data_claims_api_dev
    username: user
    password: dev
  flyway:
    schemas: claims, javers
    create-schemas: true
    enabled: true
    out-of-order: true
    placeholders:
      reporting_username: "reporting_user"
      reporting_password: "reporting_password"
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  jpa:
    show-sql: false
    generate-ddl: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_schema: claims

  autoconfigure:
    exclude:
      - org.javers.spring.boot.sql.JaversSqlAutoConfiguration

# Local connection details for dev, overridden in other envs
aws:
  region: us-east-1
  sqs:
    endpoint: http://localhost:4566  # LocalStack default
    queue-name: claims-api-queue

javers:
  sqlSchema: javers
  enabled: false  # turn off auditing for production troubleshooting

# used by actuator info endpoint
info:
  app:
    name: LAA Data Stewardship Payments - Claims Data Application
    description: LAA Data Stewardship Payments - Claims Data Application that provides APIs to access Claims related data.
    version: 1.0.0

management:
  # specify actuator endpoints to enable
  server:
    port: 8081
  endpoints:
    web:
      exposure:
        include: health, info, prometheus

  # show detailed health status
  endpoint:
    health:
      show-details: always

  info:
    env:
      enabled: false

resilience4j.ratelimiter:
  instances:
    submissionRateLimiter:
      limitForPeriod: 10
      limitRefreshPeriod: 1s
    claimRateLimiter:
      limitForPeriod: 10
      limitRefreshPeriod: 1s
    bulkSubmissionRateLimiter:
      limitForPeriod: 10
      limitRefreshPeriod: 1s
    matterStartRateLimiter:
      limitForPeriod: 10
      limitRefreshPeriod: 1s
    validationRateLimiter:
      limitForPeriod: 10
      limitRefreshPeriod: 1s

sentry:
  enabled: ${SENTRY_ENABLED:false}
  dsn: ${SENTRY_DSN:}
  environment: ${SENTRY_ENVIRONMENT:local}
  traces-sample-rate: ${SENTRY_TRACES_SAMPLE_RATE:1}
  send-default-pii: false
  logging:
    minimum-event-level: error
    minimum-breadcrumb-level: info

laa:
  springboot.starter.auth:
    authentication-header: "Authorization"
    authorized-clients: '[
        {
            "name": "test-runner",
            "roles": [
                "ALL"
            ],
            "token": "f67f968e-b479-4e61-b66e-f57984931e56"
        }
    ]'
    authorized-roles: '[
        {
            "name": "ALL",
            "URIs": [
                "/**"
            ]
        }
    ]'
    unprotected-uris: [ "/actuator/**", "/swagger-ui.html",
                        "/swagger-ui/**", "/v3/api-docs/**", "/favicon.ico", "/open-api-specification.yml"]
